body {
    background-color: linen;
}

h1 {
    text-align: center;
}

table {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-collapse: collapse;
    margin: auto;
    width: calc(100% - 40px)
}

tr:nth-child(even) {
    background-color: bisque;
}

th {
    background-color: burlywood;
    border: 3px solid black;
    white-space: nowrap;
    padding: 10px;
}

td {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

td.no-border {
    background-color: linen;
    border: none;
}

input[type=submit] {
    margin: 10px;
    white-space: nowrap;
}

a {
    text-decoration: none;
}

a:hover, a:visited, a:link, a:active {
    color: black;
    text-decoration: underline;

}

.up {
    background-color: green;
    color: white;
    width: 150px;
}

.down {
    background-color: red;
    color: white;
    width: 150px;
}

.delete {
    background-color: indigo;
    color: white;
    width: 150px;
}


input[type=submit].active {
    transform: translateY(4px);
}