{% extends 'layout.html' %}

{% block title %}
{% if tag_id == None %}Add a new Rag{% else %}Update Rag{% endif %}
{% endblock %}
{% block content %}
    <h1>{% if tag_id == None %}Add{% else %}Update{% endif %} Your Rag</h1>
        <form action="{{ url_for('route_add_edit_tag', question_id=question_id) }}" method="post">
            <input type="hidden" name="question_id" value="{{ question_id }}">
            <input type="hidden" name="tag_id" value="{{ tag_id.id }}"
            <label class="inputs" for="define_own">Define your own:</label>
            <input class="inputs" name="define_own"><br>
            <label class="inputs" for="select">Or choose from a pre-existing one:</label>
            <select class="inputs" name="select">
                {% for tag in tags %}
                    <option value="{{ tag }}">{{ tag.capitalize() }}</option>
                {%  endfor %}
            </select><br>
            <input id="rag_button" type="submit" value="{% if tag_id == None %}Add{% else %}Update{% endif %}">
{% endblock %}