{% extends 'layout.html' %}
{% block title %}{% if question %}Update question{% else %}Add a question{% endif %}{% endblock %}
{% block content %}
<div>
<h1>{% if question %}Update question{% else %}Add a question{% endif %}</h1>
    <form action="{% if question %}{{ url_for('route_question_display', question_id=question['id']) }}{% else %}{{ url_for('route_question_add') }}{% endif %}" method="post">
        <input type="hidden" name="id" value="{% if question %}{{ question['id'] }}{% else %}{{ id }}{% endif %}">
        <input type="hidden" name="view_number" value="{% if question %}{{question['view_number']}}{% else %}0{% endif %}">
        <input type="hidden" name="vote_number" value="{% if question %}{{question['vote_number']}}{% else %}0{% endif %}">
        <label for="title">Enter the title:</label><br>
        <textarea id="title" type="text" name="title" >{% if question %}{{question['title']}}{% endif %}</textarea><br>
        <br>
        <label for="message">Enter the question:</label><br>
        <textarea id="message" type="text" name="message">{% if question %}{{question['message']}}{% endif %}</textarea><br>
        <br>
        <label for="image">Enter image URL:</label><br>
        <input id="image" type="text" class="url" name="image" value="{% if question %}{{question['image']}}{% endif %}" alt="picture related to question/answer"><br><br>
        <input type="submit" value="{% if question %}Update your question{% else %}Submit your question{% endif %}">
    </form>
    <br>
    <a href="/">Back to homepage</a>
</div>
{% endblock %}