{% extends 'layout.html' %}

{% block title %}
    {{ ('Add new' if question_id else 'Edit') + ' answer' }}
{% endblock %}

{% block content %}
    <div>
        <h1>
            {% if question_id %}
                Add a new answer for question #{{ question_id }}
            {% else %}
                Edit answer #{{ answer_id }} for question #{{ answer.question_id }}
            {% endif %}
        </h1>
        <form action="" method="post">
            {% if answer %}
                <input type="hidden" name="question_id" value="{{ answer.question_id }}">
            {% endif %}
            <p>
                <span>
                    <label for="msg">Enter the answer:</label>
                </span>
                <span>
                    {% set message = answer.message if answer.message else '' %}
                    <textarea name="msg" minlength="10" required>{{ message }}</textarea>
                </span>
            </p>
            <p>
                <span>
                    <label for="image">Enter image URL:</label>
                </span>
                <span>
                    {% set url = answer.image if answer.image else '' %}
                    <input type="text" id="image" name="image" class="url" value="{{ url }}">
                </span>
            </p>
            <p>
                <span>
                    {% set value = ('Submit' if question_id else 'Edit') + ' your answer' %}
                    <input type="submit" value="{{ value }}">
                </span>
            </p>
        </form>
        <p>
            <a href="{{ url_for('route_questions_list') }}">Back to homepage</a>
        </p>
    </div>
{% endblock %}