{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <table cellpadding="25">
        <tr>
            {% for key in question_list[0] %}
             {% set new_direction = 'desc' if current_dir else 'asc' %}
                <th><a href="/list?order_by={{ key }}&order_direction={{ new_direction }}">{{ key }}</a></th>
            {% endfor %}
        </tr>
        {% for question in question_list %}
            <tr>
                {% for key, value in question.items() %}
                {% if key == 'submission_time' %}
                <td><a href="{{ url_for('route_question_display', question_id = question['id'])}}">{{ value }}</a></td>
                {% else %}
                <td>{{ value }}</td>
                {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}