<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}Welcome{% endblock %} | AskMate</title>
</head>
<body>
    <div id="menu">
        <a href="{{ url_for('route_register_user') }}">Register</a>
        <a href="{% if session %}{{ url_for('logout') }}{% else %}{{ url_for('route_login') }}{% endif %}"
        >{% if session %}Logout{% else %}Login{% endif %}</a>
        <p>{% if 'name' in session %}You are logged in as {{ session['name'] }}{% endif %}</p>
        <form action="{{ url_for('route_search_results') }}" method="get">
            <input name="search_phrase" id="search_phrase">
            <input type="submit" id="submit" value="Search">
        </form>
    </div>
    {% block content %}{% endblock %}
</body>
</html>