<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}Welcome{% endblock %} | AskMate</title>
</head>
<body>
    <div id="menu">
        <form id="search-form" action="{{ url_for('route_search_results') }}" method="get">
            <input id="search-bar" name="search_phrase" placeholder="looking for something?">
            <input type="submit" value="Search">
        </form>
        {% if 'name' in session %}
            <span class="login">You are logged in as
                <a href="{{ url_for('route_user_page') }}">{{ session.name }}</a>
                <a class="login" href="{{ url_for('logout') }}">
                    <button>Logout</button>
                </a>
            </span>
        {% else %}
            <span>
                <a class="login" href="{{ url_for('route_login') }}">
                    <button>Login</button>
                </a>
                <a class="login" href="{{ url_for('route_register_user') }}">
                    <button>Register</button>
                </a>
            </span>
        {% endif %}
    </div>
    {% block content %}{% endblock %}
</body>
</html>