{% extends 'layout.html' %}

{% block title %}
    Question details
{% endblock %}

{% block content %}
    {% if question %}
        <h1>Question {{ question['id'] }}</h1>
        <table>
            <tr>
            {% for header in question %}
                <th>{{ header.capitalize().replace('_', ' ') }}</th>
            {% endfor %}
            </tr>
            <tr>
            {% for value in question.values() %}
                {% if value == question['image'] %}
                    <td><img src="{{ value }}" width="120" height="90"></td>
                {% else %}
                    <td>{{ value }}</td>
                {% endif %}
            {% endfor %}
            </tr>
        </table>
        <h2>Answers:</h2>
        {% if answers %}
            <table>
                <tr>
                {% for header in answers[0] %}
                    <th>{{ header.capitalize().replace('_', ' ') }}</th>
                {% endfor %}
                </tr>
                {% for answer in answers %}
                    <tr>
                        {% for value in answer.values() %}
                            {% if value == answer['image'] %}
                                <td><img src="{{ value }}" width="120" height="90"></td>
                            {% else %}
                                <td>{{ value }}</td>
                            {% endif %}
                        {% endfor %}
                        {% for operation in ['up', 'down'] %}
                            <td>
                                {% set url = url_for(
                                    'route_answer_votes',
                                    answer_id = answer['id'],
                                    operation = operation
                                ) %}
                                <button><a href="{{ url }}">Vote {{ operation }}</a></button>
                            </td>
                        {% endfor %}
                        {% set url = url_for(
                            'route_delete_answer',
                            answer_id=answer['id']
                            ) %}
                        <td>
                            <button><a href="{{ url }}">Delete this answer</a></button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>There are no answers for this question</p>
        {% endif %}
        <a href="{{ url_for('route_add_answer', question_id=question['id']) }}">
            Add a new answer for this question
        </a><br>
        <a href="{{ url_for('route_delete_question', question_id=question['id']) }}">
            Delete this question
        </a><br>
        <a href="/">Go back to the home page</a>
    {% else %}
        <p>There is no question with id {{ question_id }}</p>
    {% endif %}
{% endblock %}