{% extends 'layout.html' %}

{% block title %}
    Question details
{% endblock %}

{% block content %}
    {% if question %}
        <h1>Question {{ question['id'] }}</h1>
        <table>
            <tr>
            {% for header in question.keys() %}
                <th>{{ header.capitalize().replace('_', ' ') }}</th>
            {% endfor %}
            </tr>
            <tr>
            {% for value in question.values() %}
                <td>{{ value }}</td>
            {% endfor %}
            </tr>
        </table>
        <h2>Answers:</h2>
        {% if answers %}
            <table>
                <tr>
                {% for header in answers[0].keys() %}
                    <th>{{ header.capitalize().replace('_', ' ') }}</th>
                {% endfor %}
                </tr>
                {% for answer in answers %}
                    <tr>
                        {% for value in answer.values() %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>There are no answers for this question</p>
        {% endif %}
        <a href="{{ url_for('route_add_answer', question_id=question['id']) }}">
            Add a new answer for this question
        </a>
    {% else %}
        <p>There is no question with id {{ question_id }}</p>
    {% endif %}
{% endblock %}